.btn-bounce {
	transition: transform 0.2s ease;
}

.btn-bounce:active {
	transform: scale(0.95);
}

.nav-btn, .nav-btn:hover, .nav-btn:active {
    color: var(--accent) !important;
    margin: 2%;
    padding-top: 3% !important;
    padding-bottom: 3% !important;
}