.btn-bounce {
	transition: transform 0.2s ease;
}

.btn-bounce:active {
	transform: scale(0.9);
}

.swal2-close {
	box-shadow: none !important;
}

.text-button {
	border: none;
	background-color: transparent;
	text-decoration: none;
	cursor: pointer;
	padding: 0;
}

.text-button:hover {
	color: var(--secondary);
}