@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

:root {
	--background: #F8D7A5;
	--primary: #F1B761;
	--secondary: #DB8B4D;
	--accent: #C4713A;
	--alert: #B53232;
}

body {
	font-family: 'Montserrat', sans-serif;
}

.bg {
	background-color: var(--background) !important;
}

.bg-primary {
	background-color: var(--primary) !important;
}

.bg-secondary {
	background-color: var(--secondary) !important;
}

.bg-accent {
	background-color: var(--accent) !important;
}

.bg-alert {
	background-color: var(--alert) !important;
}

input:focus,
label:focus,
select:focus,
textarea:focus {
	border: solid var(--secondary) !important;
}

input,
label,
select,
button,
textarea {
	color: var(--accent) !important;
	border: none !important;
}

.color-secondary {
	color: var(--secondary);
}

.color-accent {
	color: var(--accent);
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px var(--primary);
	background-color: var(--primary);
	border-radius: 5px;
}

::-webkit-scrollbar-thumb {
	background-color: var(--accent);
	border-radius: 10px;
}

::placeholder {
	color: var(--secondary) !important;
}

input[type=file]::file-selector-button, input[type=file]::file-selector-button:hover {
	background: var(--primary) !important;
	border-color: var(--accent) !important;
	color: var(--accent);
}

.img-grid {
    width: 33% !important;
}

.btn-bounce {
	transition: transform 0.2s ease;
}

.btn-bounce:active {
	transform: scale(0.9);
}

.swal2-close {
	box-shadow: none !important;
}

.swal2-title {
	color: black;
	font-size: 150% !important;
}

.text-button {
	border: none;
	background-color: transparent;
	text-decoration: none;
	cursor: pointer;
}

.text-button:active, .text-button:hover {
	color: var(--secondary) !important;
}

.text-notification-pill{
	font-size: small;
}

.fs-7 {
	font-size: 0.75rem !important;
}

.video-overlay {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: end;
	position: absolute;
	background-image: linear-gradient(0deg, var(--background), rgba(248, 215, 165, 0) 20%);
}

.video-container {
	position: relative;
	width: 100%;
	height: inherit!important;
	padding: 0;
}

.video-home {
	width: 100%;
	height: inherit!important;
	padding: 0;
	object-fit: cover;
}

.nav-btn {
	border: none;
}

.nav-btn:active {
	color: var(--accent) !important;
}

.nav-btn:visited {
	color: var(--accent) !important;
}